@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box;
}

@font-face {
  font-family: arial;
  src: url("../fonts/ARIAL.TTF");
}

@font-face {
  font-family: arial-bold;
  src: url("../fonts/ARIBL0.ttf");
}

.ff_lora {
  font-family: "Lora", serif;
}

.ff_arial {
  font-family: "arial", serif;
}

.ff_arialbold {
  font-family: "arial-bold", serif;
}

:root {
  /* FONT-SIZE */
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 22px;
  --fs-2xl: 28px;
  --fs-3xl: 50px;
  /* FONT-WEIGHT */
  --fw-semibold: 600;
  /* COLOR */
  --green: #0098a3;
  --primary: #219afa;
  --black: #000000;
}

/* FONT-SIZE */
.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

/* FONT-WEIGHT */
.fw_semibold {
  font-weight: var(--fw-semibold);
}

/* TEXT-COLOR */
.text_green {
  color: var(--green);
}

.text_primary {
  color: var(--primary);
}

.text_black {
  color: var(--black);
}

/* BACKGROUND-COLOR */
.bg_green {
  background-color: var(--green);
}

.bg_primary {
  background-color: var(--primary);
}

.z_index5 {
  z-index: 5;
}

.z_index10 {
  z-index: 10;
}

/* Header */

.cursor_pointer {
  cursor: pointer;
}

.search_input_parent {
  padding: 9px 0 10px 12px;
  width: 50% !important;
  border-radius: 46px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}

.opacity_07 {
  opacity: 70%;
}

.opacity_08 {
  opacity: 80%;
}

#header input,
::placeholder {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 122.5%;
  /* 19.6px */
  opacity: 0.23;
}

.output_line {
  outline: none;
}

.nav_content {
  width: 500px;
}

.menuicon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 21px;
  height: 14.5px;
  z-index: 20;
}

.menuicon > span {
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  z-index: 1;
}

.overflow_x_hidden {
  overflow-x: hidden;
}

.nav_link {
  transition: all 300ms ease-in-out;
}

.nav_link:hover {
  background-color: #2a86aa;
}

.nav_line_hight {
  line-height: 18px;
}

.underline_hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--clr-secondary);
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.nav_underline_hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.underline_hover:hover::after,
.nav_line_hight:hover .nav_underline_hover::after {
  width: 100%;
}

/* dropdown */
.dropdown-toggle::after {
  display: none !important;
}

/* hero */
.hero_right_slider {
  background: #fff;
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.22);
}

.hero_btn {
  border-radius: 78px;
  background: var(--primary);
  padding: 10px 21px 10px 13px;
  gap: 10px;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}

.hero_btn:hover svg {
  transform: rotate(50deg);
  transition: all 0.2s linear;
}

.hero_btn:hover {
  color: var(--primary) !important;
  background: transparent;
  border: 1px solid var(--primary);
}

.buy_btn {
  border-radius: 50.156px;
  background: var(--green, #0098a3);
  padding: 8px 27px;
  border: transparent;
  gap: 0.953px;
  border: 1px solid transparent;
  transition: all 300ms ease-in-out;
}

.buy_btn:hover {
  background: transparent;
  border: 1px solid #0098a3;
  color: #0098a3 !important;
  gap: 0.953px;
}

.z_index-1 {
  z-index: -1;
}

/* slider */

.slider_arrows_hover:hover rect {
  stroke: #219afa !important;
}

.slider_arrows_hover:hover rect {
  fill: #219afa !important;
}

.slider_arrows_hover:hover path {
  stroke: #ffffff !important;
}

.rotate {
  rotate: 180deg;
}

.shop_btn {
  padding: 8px 23px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid transparent;
}

.shop_btn:hover {
  background-color: #0098a3;
  border: 2px solid white;
  color: white !important;
}

.transition_300 {
  transition: all 300ms ease-in-out;
}

.servive_slider_box:hover {
  border-radius: 8px;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.09);
}

.slick-list {
  display: flex !important;
  height: 100% !important;
}

.px_negative {
  margin-left: -8px !important;
  margin-right: -8px !important;
}

.social_icons_hover:hover {
  transform: translateY(-10%);
}

.footer_icon_size {
  width: 69px;
  height: 60px;
}

.border_top {
  border-top: 1px solid #e6e6e6;
}

.custom_height {
  height: 294px;
}

.footer_contact_logo {
  width: 647px;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}

.dropdown_service {
  position: relative !important;
  display: none;
}

.dropdown_Parent .dropdown_service:hover {
  position: relative !important;
  display: flex;
}

@media (min-width: 1600.98px) {
  :root {
    --fs-xsm: 18px;
    --fs-sm: 18px;
    --fs-md: 18px;
    --fs-lg: 26px;
    --fs-xl: 22px;
    --fs-2xl: 28px;
    --fs-3xl: 56px;
  }

  .custom_height {
    height: 100%;
  }

  .svg_arrow {
    width: 40px !important;
    height: 40px !important;
  }

  .svg_img_dropdown {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 1919.98px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 18px;
    --fs-md: 18px;
    --fs-lg: 26px;
    --fs-xl: 22px;
    --fs-2xl: 28px;
    --fs-3xl: 56px;
  }
}

@media (max-width: 1600px) {
  :root {
    --fs-lg: 20px;
    --fs-3xl: 50px;
  }
  .slider_img_size {
    height: 107.21px !important;
  }
}

.dropdown_menu_fullscreen {
  width: 100vw !important;
  position: absolute !important;
  left: -1% !important;
}

.dropdown_item {
  transition: all 0.2s linear;
}

.dropdown_item:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  transition: all 0.3s linear;
}

.privacy_text:hover {
  color: #219afa !important;
}

.filter_grayscale {
  filter: grayscale(1) !important;
}

@media (max-width: 1399.98px) {
  :root {
    --fs-xsm: 14px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 22px;
    --fs-2xl: 28px;
    --fs-3xl: 38px;
  }

  .hero_btn_svg {
    width: 35px !important;
    height: 35px !important;
  }

  .hero_btn {
    padding: 8px 18px 8px 10px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 18px;
    --fs-2xl: 28px;
    --fs-3xl: 29px;
  }

  .custom_height {
    height: 100% !important;
  }
}

@media (max-width: 991.98px) {
  :root {
    --fs-xsm: 14px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 22px;
    --fs-2xl: 28px;
    --fs-3xl: 45px;
  }

  .logo {
    max-width: 100px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --fs-xsm: 14px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 22px;
    --fs-2xl: 28px;
    --fs-3xl: 38px;
  }

  .nav_links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    display: flex;
    background: var(--primary);
    justify-content: center;
    align-items: center;
    z-index: 15;
    transition: all 0.3s ease-in-out;
  }

  .nav_link:hover {
    background-color: unset;
  }

  .search_input_parent {
    width: 90% !important;
    background: #fff;
  }

  .contect_info {
    width: 100% !important;
  }

  .contect_info:after {
    content: "";
    position: absolute;
    right: 0%;
    height: 30px;
    top: 55%;
    transform: translateY(-50%);
    border-right: 1px solid #000000 !important;
  }

  .start_0 {
    left: 0 !important;
  }

  .hero_btn {
    border-radius: 78px;
    background: var(--primary);
    padding: 0px 13px;
    gap: 6px;
    border: 1px solid transparent;
    transition: all 0.2s linear;
  }

  .footer_contact_logo {
    width: 100% !important;
  }

  .fs_20 {
    font-size: 20px !important;
  }
  .slider_img_size {
    height: 207.21px !important;
  }
}

.hero_btn {
  padding: 8px 18px 8px 10px;
}
@media (min-width: 1600px) {
  .slider_img_size {
    height: 137.21px !important;
  }
}

@media (max-width: 575.98px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 12px;
    --fs-lg: 14px;
    --fs-xl: 14px;
    --fs-2xl: 28px;
    --fs-3xl: 36px;
  }

  .privacy_text {
    font-size: 14px !important;
  }

  .logo {
    max-width: 80px;
  }

  .w_sm_75 {
    width: 75% !important;
  }

  .buy_btn {
    padding: 5.298px 10.771px 5.298px 16.244px;
  }
  .slider_img_size {
    height: 137px !important;
  }
}
@media (min-width: 1921px) {
  :root {
    --fs-xsm: 1.5vh !important;
    --fs-sm: 2vh;
    --fs-md: 2vh;
    --fs-lg: 2.5vh;
    --fs-xl: 3vh;
    --fs-2xl: 3vh;
    --fs-3xl: 4vh !important;
  }
  .slider_img_size {
    height: 80% !important;
  }
  #header input,
  ::placeholder {
    font-size: 3vh;
  }
  .nav_content {
    width: 100% !important;
    gap: 110px !important;
  }
  .icons_width {
    width: 70px !important;
    height: 70px !important;
  }
  .headphone_icon_width {
    width: 140px !important;
    height: 140px !important;
  }
  .search_input_parent {
    padding: 30px 20px !important;
    border: 5px solid rgba(0, 0, 0, 0.2) !important;
  }
  .svg_img_dropdown {
    width: 150px !important;
    height: 150px !important;
  }
  .ps_custom_1920 {
    padding-left: 70px !important;
  }
  .svg_DropDwon_arrow_size {
    width: 30px !important;
    height: 30px !important;
  }
  .mb_custome_1920 {
    margin-bottom: 14px !important;
  }
  .logo {
    width: 15vh !important;
  }
  .py_custome_1920 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .mt_custome_1920 {
    margin-top: 130px !important;
  }
  .dropdown_menu_fullscreen {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  .hero_btn_svg {
    width: 3vw !important;
    min-height: 5vh !important;
  }
  .hero_btn {
    border-radius: 158px;
    padding: 10px 20px 10px 10px;
    gap: 20px !important;
  }
  .svg_arrow {
    width: 3vw !important;
    min-height: 5vh !important;
  }
  .buy_btn {
    border-radius: 150.156px;
    padding: 15px 57px;
  }
  .shop_btn {
    padding: 15px 53px;
    border-radius: 150px;
  }
  .footer_icons_size {
    width: 4vw !important;
    min-height: 6vh !important;
  }
  .footer_contact_logo {
    width: 50%;
  }
  .social_icons_size {
    width: 2vw !important;
    min-height: 5vh !important;
  }
}
@media (min-width: 2500px) {
  .hero_btn_svg {
    width: 3vw !important;
    min-height: 5vh !important;
  }
  .hero_btn {
    border-radius: 158px;
    padding: 30px 51px 30px 20px;
    gap: 20px !important;
  }
}
@media (min-width: 3000px) {
  :root {
    --fs-xsm: 2vh !important;
    --fs-lg: 3vh;
    --fs-xl: 3vh !important;
    --fs-2xl: 4vh;
    --fs-3xl: 6vh !important;
    --fs-md: 3vh;
  }
}
